<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>WonderApp uses the local network for debugging</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.wonderapp.onboarding.activity.model</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_peertunnel._tcp</string>
	</array>
</dict>
</plist>
